{
  "6A": [
    "Apellido, Nombre",
    "Apellido, Nombre"
  ],
  "6B": [
    "Apellido, Nombre",
    "Apellido, Nombre"
  ],
  "7A": [
    "Apellido, Nombre"
  ],
  "7B": [
    "Apellido, Nombre"
  ],
  "8": [
    "Apellido, Nombre"
  ],
  "10A": [
    "Apellido, Nombre"
  ],
  "10B": [
    "Apellido, Nombre"
  ],
  "11A": [
    "Apellido, Nombre"
  ]
}